.pill-btn{
    max-width: 156px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.pill-btn:hover {
    background-color: var(--brand-ocean);
}

.social-badge {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}