//spacing
.py-20{
    padding: 20px 0;
}

.gap-12{
    gap: 12px;
}

//display

.d-flex-row{
    display: flex;
    gap: 8px;
}

//position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}