//spacing
.py-20{
    padding: 20px 0;
}

.gap-12{
    gap: 12px;
}

.btm-spacing {
    margin-bottom: calc(10% + 250px);
}
//display

.d-flex-row{
    display: flex;
    gap: 8px;
}

.centered {
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

//position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}